* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.header {
  background-color: white;
  text-align: center;
  padding: 20px;
}


.topnav {
  overflow: hidden;
  background-color: #007bff;
}

/* Navbar links */
.topnav p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav p:hover {
  background-color: #0056b3; /* Azul más oscuro para el efecto hover */
  color: white;
  box-shadow: 0 0 10px 2px #0056b3; /* Brillo en azul cuando el mouse pasa */
}


.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  height:100px;
}


.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #00bcd4;
  margin-top: 20px;
  overflow: hidden;
}

.rightAlign{
  float: right;
}

h1, h2 {
  font-family: "Consolas", monospace; /* Cambiar la fuente a Consolas */
  font-size: 36px; /* Aumentar el tamaño de la fuente */
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.owner{
  color: green;
}

@media screen and (max-width: 400px) {
  .topnav p {
    float: none;
    width: 100%;
  }
}
